.counter{
    background-color: darkslategray;
    padding: 40px;
    position: fixed; top: 5%; left: 10%;
    border-style: solid;
    border-color: cadetblue ;
}
.phone{
   margin-left:1%;
    width: 100%;
    text-align: center;
    border: 1px solid;
    background-color: cadetblue;
}
.phone-error{
    margin-left:1%;
    width: 100%;
    text-align: center;
    border: 1px solid;
    background-color: burlywood;
}
.button{
background-color: cadetblue;
    border: 1px solid;
    border-radius: 10px;
    margin: 2px;
}
.button:active{
    background-color: burlywood;
    border: 1px solid;
    border-radius: 10px;
    margin: 2px;
}

.bord-button{
    border: 1px solid;
    border-radius: 10px;
}
.error-button{
    background-color: gray;
    border: 1px solid;
    border-radius: 10px;
    margin: 2px;
}

